@import "./variables.scss";
.card {
  background-color: $darkBlue;
  background-color: rgb(18, 24, 39);
  border-radius: 2rem;
  box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px,
    rgb(25 19 38 / 5%) 0px 1px 1px;
  color: $white;
  padding: 1rem;
}
